.blackhole-svg {
    animation: pulse 10s infinite;
    filter:
        drop-shadow(0 0px 1px #ffffff)
        drop-shadow(0 0px 5px #fff1a8)
        drop-shadow(0 0px 20px #ffea7f9b);
}

.blackhole-inner-spin {
    animation: dashoffset 200s infinite;
}


@keyframes dashoffset {
    0% {
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dashoffset: 900;
    }
    100% {
        stroke-dashoffset: 0;
    }
}