@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: #18181B;
}

::-webkit-scrollbar-thumb {
    background: #ffe97f;
}

.profile-btn {
    @apply inline border-l border-pop w-fit px-4 py-2 transition duration-100 hover:bg-pop hover:text-zinc-900
}


