@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: #18181B;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.75);
}

